# Optional: authenticated OpenSky access improves aircraft API reliability.
# Create an API client in your OpenSky account, then set these as Netlify environment variables.
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
